{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}


<h1>Over deze site</h1>

<p>
    Deze site is gemaakt door Lisanne van Seventer en Stefan van der Duijs voor de eindopdracht van PRE-university.
    Lisanne schreef haar onderzoek over het modelleren van de verspreiding van tuberculose in India.
</p>
<p>
    De modellen kunnen helpen bij het begrijpen van epidemieën en om effectieve strategieën voor bestrijding te ontwikkelen.
    De modellen bestaan uit differentiaal vergelijkingen en zijn numeriek op te lossen: de computer geeft het antwoord in de vorm van een grafiek weer. Op deze website kan je zelf aan de slag met wiskundige modellen, die de verspreiding van infectieziekten zoals COVID-19, influenza en tuberculose modelleren.
    Er bestaan veel verschillende soorten modellen, op deze website laten we het SIR-model en het SLIT-model zien.
</p>
<p>
    We nodigen je uit om met behulp van de interactieve modellen op deze website te experimenteren en te verkennen hoe verschillende parameters en scenario's de verspreiding van infectieziekten beïnvloeden.
    Door het aanpassen van de parameters kun je inzicht krijgen in de effecten van maatregelen zoals vaccinatie, sociale afstand en behandelingen op het verloop van een epidemie.
</p>
<p>
    Op onze website bieden we ook een gedetailleerd wiskundig model van tuberculose in India.
    Dit model laat zien hoe wiskunde kan bijdragen aan een dieper begrip van deze ziekte en de ontwikkeling van effectieve bestrijdingsstrategieën. Je kunt meer te weten komen over de achterliggende mechanismen en hoe de parameters worden bepaald.
    Ontdek hoe dit model ons kan helpen bij het plannen van interventies en het bestrijden van tuberculose.
</p>
<br>
<p>
    De broncode van de site is te vinden op
    <a href="https://github.com/SteefCoder/PRE-eindopdracht" target="_blank">https://github.com/SteefCoder/PRE-eindopdracht</a>
    <br>
    Deze site wordt gehost op de servers van pythonanywhere.com en blijft beschikbaar tot uiterlijk 17 juni 2024.

</p>


{% endblock %}