<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Over de site</a></li>
        <li><a href="{{ url_for('tbc_model') }}">Het TBC-model</a></li>
        <li><a href="{{ url_for('models') }}">De SIR en SLIT-modellen</a></li>
        <li><a href="{{ url_for('sir') }}">SIR model simuleren</a></li>
        <li><a href="{{ url_for('slit') }}">SLIT model simuleren</a></li>
    </ul>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>