{% extends 'base.html' %}

{% block title %}
Het TBC-model
{% endblock %}

{% block content %}

<h1>Het TBC-model</h1>
<p>
Op deze pagina zie je hoe wiskundig onderzoek kan helpen bij het begrijpen en bestrijden van tuberculose (tbc) in India. Het doel van het onderzoek is om te begrijpen hoe tbc zich verspreidt en welke manieren het meest effectief zijn om deze ziekte te stoppen. Dit is belangrijk omdat tbc nog steeds een ernstige ziekte is die vooral in India voorkomt en veel mensen treft. 
</p>
<h2>Tuberculose</h2>
<p>
    Tuberculose (tbc) is een infectieziekte veroorzaakt door de mycobacterium tuberculosis bacterie (MTB). De meest voorkomende vorm is longtuberculose. (Tuberculose | RIVM, z.d.). 
</p>
<p>
    Het besmettingsproces gaat van start als de mycobacterium tuberculosis (MTB) in de longen van de te besmette persoon terecht komt door inademing. Vanaf hier vecht een immuunrespons tegen de bacterie; de patiënt heeft dan latent tbc. Latent zijn voor een ziekte houdt in dat je wel besmet bent, maar geen symptomen hebt en ook niet besmettelijk bent. Wanneer de bacterie wint van de immuunrespons ontwikkelt de patiënt actief tbc (Kiazyk & Ball, 2017). Hierdoor zal de bacterie verder kunnen verspreiden. In meer dan 90% van de gevallen wint de bacterie niet, maar gaat ook niet weg. De patiënt heeft dan permanente latente tbc. 
</p>
<p>
    Vooral in tweede- en derdewereldlanden heerst tbc nog in hevige mate. Dit komt doordat er in  deze landen niet voldoende gezondheidszorg is om de verspreiding van tbc in perken.
</p>
<p>
    Ter inperking van tbc kunnen veel maatregelen in worden gezet. Bij ons onderzoek vergeleken we de volgende acht maatregelen met elkaar: 
</p>
<ul>
    <p>
        Hygiëne en ventilatie: Door hoesten in de elleboog en het openzetten van ramen is het lastiger voor de tbc-bacterie om een vatbaar persoon te bereiken.
    </p>
    <p>
        Mondkapjes: Door het blokkeren van de mond kan de tbc-bacterie niet in de lucht geraken. 
    </p>
    <p>
        Quarantaine: De geïnfecteerde persoon kan geen vatbare personen besmetten door het ontbreken van contact. 
    </p>
    <p>
        Vaccinatie: Door vaccineren zullen minder mensen de ziekte kunnen ontwikkelen en dus ook minder mensen de ziekte kunnen verspreiden. 
    </p>
    <p>
        Afstand bewaren: Hierdoor is het lastiger voor de tbc-bacterie om een ander (vatbaar) persoon te bereiken. 
    </p>
    <p>
        Testen: Door het testen (en dus opsporen) van tbc kunnen mensen met latent tbc geholpen worden voordat ze besmettelijk worden. 
    </p>
    <p>
        Voorlichting: Door mensen informatie te geven over symptomen zullen tbc-patiënten eerder door hebben dat ze tbc hebben. Hierdoor verminder je ook de tijd dat infectieuze individuen andere mensen kunnen aansteken. 
    </p>
    <p>
        Medicijnen: Door medicijnen maak je een tbc-patiënt beter. Hierdoor neemt dus het tbc-dodenaantal af én perk je de tijd in dat infectieuze mensen anderen aansteken kunnen.
    </p>
</ul>

<h2>Model</h2>
<img src="{{ url_for('static', filename='tbc-model-chart.png') }}" style="width: 500px">

<p>
    Ditzelfde model staat op de andere pagina, op die pagina kan je zelf de parameters variëren om te zien hoe dit de verspreiding beïnvloedt. Hier gaan we uit van de parameters die hieronder benoemd worden, daar staat ook hoe die bepaalt zijn. We gebruiken als startwaarden van het model:
</p>

S0: 95,47. Het overgrootste deel van de bevolking komt nooit met tuberculose in aanraking.
<br>
L0: 2,5. Dit is omdat ongeveer 10 keer zoveel mensen latente tuberculose hebben als actieve tuberculose.
<br>
I0: 0,32. Dit is iets lager dan het percentage bekende actieve tuberculose gevallen in India, omdat niet alle bekende tuberculose gevallen actief zijn, maar wel de meerderheid. 
<br>
T0: 1,71.


<h2>Parameterbepaling</h2>

<p>Bij het bepalen van de parameters voor ons SLIT-model hebben we verschillende factoren in overweging genomen om ervoor te zorgen dat het model nauwkeurig de verspreiding van tuberculose in India weerspiegelt.</p>
<p>Transmissiesnelheid vanaf vatbare individuen (η): We hebben een waarde van 0,00003 gekozen. Dit getal is moeilijk te bepalen, omdat het sterk afhankelijk is van het gedrag van de bevolking. Door meerdere getallen te proberen zijn wij op 0,00003 uitgekomen. De resultaten die uit dit model kwamen, sloten het best aan op de data van India.</p>
<p>Transmissiesnelheid vanaf behandelde individuen (ϕ): We hebben ook 0,00003 gekozen, omdat er geen verminderd risico op herinfectie is na herstel.</p>
<p>Overgangssnelheid van latente naar infectieuze fase (k): We hebben een waarde van 0,0825 gekozen, wat overeenkomt met het geschatte percentage van 8,25% van de WHO van tuberculosegevallen die actief worden in India.</p>
<p>Herstelsnelheid vanuit de latente groep (r1): Met 0,0001 hebben we aangenomen dat slechts 0,01% van de latente groep geneest. Dit is zo’n laag percentage, omdat deze mensen niet weten dat zijn ziek zijn en dus ook niks zullen doen om beter te worden.</p>
<p>Herstelsnelheid vanuit de infectieuze groep (r2): Hiervoor gebruiken we een waarde van 0.595. In India wordt gewerkt met een programma dat 70 procent van de actieve tuberculose gevallen detecteert. Hiervan wordt 85 procent succesvol behandeld (Swaminathan, 2014). In ons model is dit één parameter dus vermenigvuldigen wij deze percentages.</p>
<p>Door deze parameters zorgvuldig te selecteren, konden we een SLIT-model ontwikkelen dat nauw aansluit bij de realiteit van tuberculoseverspreiding in India.</p>

<h2>Conclusie</h2>
<p>We hebben bepaald hoe de parameters zouden veranderen als er bepaalde maatregelen werden genomen. We hebben het model apart getest met deze nieuwe getallen om te zien welke het beste resultaat geeft zonder te veel te kosten. Hieruit is gekomen dat de combinatie van mondkapjes, testen, voorlichting en medicijnen het best is. Deze vier maatregelen hebben allemaal een goede kosten-effectiviteit-verhouding. Ook dekken deze maatregelen verschillende gedeeltes van de verspreiding, zo vallen de mondkapjes onder ’voorkomen’, het testen en de voorlichtingen onder ’detecteren’ en de medicijnen onder ’genezen’.</p>

{% endblock %}